export(ORBayesianTtest)
export(ORBayesianTtest.sm)
export(ORBayesianTtest.app)

import(shiny)
import(readxl)
import(readODS)
import(openxlsx)

importFrom("stats", "dt", "na.omit", "sd", "var")
importFrom("utils", "head", "read.csv", "write.csv")


