export(ui)
export(server)
export(coth)
export(one.sample.t.test.bf)
export(one.sample.t.test.bf.sm)
export(two.sample.t.test.bf)
export(two.sample.t.test.bf.sm)
export(ORBayesTtest)

import(shiny)
import(readxl)
import(readODS)
import(openxlsx)

